<!-- views/index.ejs -->

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title><%= title %></title>
    </head>
    <body>
        <h1><%= greeting %></h2>
        <a href="<%= link1 %>">home</a>
        <a href="<%= link2 %>">about</a>
        <a href="<%= link3 %>">tweets</a>
    </body>
</html>
